body{
    background: #06BCD4;
}
.container{
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.boxes{
    width: 500px;
    height: 135px;
    margin: 10px;
    background: #FEFEFE;
    border-radius: 10px;
    display: flex;
}


.icon{
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon>i{
    font-size: 40px;
    color: #999999;
}

.description{
    display: flex;
    flex-direction: column;
}

.description>h3{
    margin: 15px 15px 0 0;
    color: #FFA274;
}

.description>p{
    margin: 12px 30px 0 0;
    color: #677278;
}

