.container{
    margin: 3% 20% 0 20%;
    width: 60%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.block{
    width: 30%;
    border: 1px solid black;
}

.description{
    text-align: center;
    margin: 0 20px;
}

.description>h3{
    padding-top: 40px;
}

.description>p{
    line-height: 30px;
}
.buttoms{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 15px;
}

.buttoms>button{
    height: 50px;
    width: 180px;
    border: 1px solid black;
    background: white;
}
